@using aspNetWADropDown.ViewModels
@model aspNetWADropDown.ViewModels.viewInventoryViewModel
<h2>Hello Wold!!!</h2>
<p>Welcome to the partial small page world :D</p>
@Html.DisplayFor(d => d.selectedDepartment) ...

