@using aspNetWADropDown.ViewModels
@model aspNetWADropDown.ViewModels.viewInventoryViewModel
<h2>Hello Wold!!!</h2>
<p>Welcome to the partial small action world :D</p>
<pre>
    @Html.DisplayFor(d => d.selectedDepartment)
    @Html.DisplayFor(d => d.selectedUnit)
</pre>
 ...

